<!DOCTYPE html>
<html>
<head>
    <title>INVI - Situdado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>    
</head>
<body>
    <div class="container">
        <div class="centerlize">
            <h1>Herramienta para el procesamiento y georeferenciación de imágenes recolectadas en trabajo etnográfico de campo</h1>
            <p class="lead">
                Esta herramienta es parte del trabajo realizado durante el segundo semestre del año 2018 y el primer semestre del año 2019, 
                en el marco del proyecto FONDECYT Nº 1171554 "Prácticas de intervenir y habitar el territorio: develando el conocimiento 
                urbano situado” (Jiron, Mansilla, Lange, Imilan, 2017). 
            </p>
            <p>El objetivo de esta herramienta es poder servir como complemento al trabajo etnográfico de campo, y la extracción sencilla mediante
                software libre de metadata (fecha, coordendas geográficas, palabras clave) en imágenes tomadas desde el celular.
            </p>
            <p>Consideraciones:</p>
            <ul>
                <li>- Las imágenes deben ser tomadas desde un celular o tablet con el GPS activado.</li>
                <li>- Las imágenes deben ser descargadas al computador. Si pasan por correo electrónico o sistema de mensajerīa,
                    las imágenes perderán la metadata.
                </li>
            </ul>
            <p>Desarrollado por <a href="http://crishernandez.co">Cris Hernández</a>.</p>
            <p>Si tiene dudas o desea colaborar, escribir a <a href="mailto:crishmill@uchilefau.cl">crishmill@uchilefau.cl</a></p>
            <p class="lead"><a class="btn btn-primary btn-lg" href="https://github.com/crishernandezmaps/photo-ethnographic-tool" role="button">Saber más</a></p>
            <hr class="my-4">
        </div>
        <div class="row">
            <div class="forma col-3">
                <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                    <input id="file-picker" type="file" name="file" accept="image/*" multiple>
                    <input type="submit" value="Upload!" id="upload-button">
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    $("#file-picker").change(function(){
        var input = document.getElementById('file-picker');
        for(var i=0; i<input.files.length; i++){
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
            if((ext == 'jpg') || (ext == 'png')){
                $("#msg").text("")
            }
            else{
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }
        }
    } );
</script>
</html>